* {
    font-family: 'Suez One', serif;     
}

body{
    
    background-color: black !important;
}

.head{
    color: white;    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, calc(100%/3));
    grid-template-rows: repeat(2, calc(100%/2));
    /* grid-template-rows: repeat(2, 1fr); */
    width: 100vw;
    height: 100vh;
    padding: 10px;
    grid-gap: 3px;
    /* border: dashed red 1px; */
    
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
}

/* Card */

/* .card {
    width: 60%;
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    background-color: white;
} */

/* .card-top {
    width: 100%
} */